target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# IDEA specific files
.idea/
*.iml

# Project specific files
src/main/kotlin/me/chill/sandbox

# VS Code related stuff
.classpath
.project
.settings/

# Temporary removals
src/test/kotlin